<link rel="stylesheet" href="navbar.css">
<header id="header">
<div class="topnav" id="myTopnav">
<a href="#"><img class="logo" src="https://i.ibb.co/ZH11dmd/logo.png" alt=""></a>
<a id="active">Blogger</a>
<a href="/home">HOME</a>
<a href="/myblog">Write blog</a>
<a href="#about">CONTACT</a>
<a href="#about">ABOUT</a>

<div class="dropdown" style="float:right;">
<button class="dropbtn"><i class="fa fa-user-circle-o"></i>
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content animate">
<a href="#">NETWORKING</a>
<a href="#">WEB DEVELOPMENT</a>
<a href="#">ETHICAL HACKING</a>
<a href="/logout" style="background-color: crimson; text-align:center;">Logout</a>
<a href="/logoutall" style="background-color:rgb(199, 94, 33); text-align:center;">Logout of all devices</a>
</div>
</div> 
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="NavBar()">&#9776;</a>
</div>
</header>
<script src="navbar.js"></script>



